.expandable {
  display: flex;
  flex-direction: column-reverse;
  margin-block: var(--gap);
}

.expandable__details {
  width: 100%;
}

.expandable__summary {
  position: relative;
  display: inline-flex;
  border-bottom: 2px solid var(--color-gray-300);
  padding-block: 5px;
  user-select: none;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-primary);
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.expandable__definition {
  display: grid;
  opacity: 0;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms, opacity 500ms;

  > div {
    overflow: hidden;

    p:last-child {
      margin-block-end: var(--gap);
    }
  }
}

.expandable__label-opened {
  display: none;
}

/* open state */
.expandable__details[open] {
  .expandable__label-closed {
    display: none;
  }

  .expandable__label-opened {
    display: block;
  }

  & + .expandable__definition {
    visibility: visible;
    grid-template-rows: 1fr;
    opacity: 1;
  }
}
