.back {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: calc(var(--gap) / 2) var(--gap);
  border-radius: var(--gap);
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0 10px color-mix(in srgb, var(--color-black), #0000 80%);
  position: fixed;
  bottom: var(--gap);
  right: var(--gap);
  z-index: 20;
}
